/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html { color: #222; font-size: 1em; line-height: 1.4; }
/* A better looking default horizontal rule */
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio, canvas, iframe, img, svg, video { vertical-align: middle; }
/* Remove default fieldset styles. */
fieldset { border: 0; margin: 0; padding: 0; }
/* Allow only vertical resizing of textareas. */
textarea { resize: vertical; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	margin: 0;
	overflow: hidden;
}
#deviceready canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#qrcodeCanvas {
	display: block;
	position: absolute;
	bottom: 0;
}

#json {
	display: block;
	position: absolute;
	background-color: #fff;
	right: 0;
}
